In [2]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
PATH = r"C:\Users\U6094291\Desktop\StockPrice\customer_dataset.csv"
df = pd.read_csv(PATH)
df.head()

,id,age,gender,income,spending_score,membership_years,purchase_frequency,preferred_category,last_purchase_amount
0,1.0,NaN,NaN,99342.0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Female,78852.0,NaN,2.0,42.0,Sports,41.93
2,3.0,NaN,Female,NaN,NaN,2.0,28.0,NaN,NaN
3,NaN,NaN,Other,NaN,74.0,NaN,5.0,NaN,NaN
4,5.0,NaN,NaN,140621.0,210.0,NaN,25.0,NaN,NaN

In [4]:
df.sample(5)

,id,age,gender,income,spending_score,membership_years,purchase_frequency,preferred_category,last_purchase_amount
769,NaN,61.0,NaN,NaN,NaN,NaN,NaN,Groceries,709.33
427,NaN,54.0,NaN,NaN,24.0,3.0,NaN,Groceries,824.65
862,NaN,NaN,Other,77292.0,NaN,NaN,NaN,Groceries,787.66
342,343.0,32.0,NaN,48445.0,NaN,NaN,27.0,NaN,NaN
654,NaN,NaN,Other,47989.0,NaN,6.0,NaN,NaN,NaN

In [5]:
df.tail()

,id,age,gender,income,spending_score,membership_years,purchase_frequency,preferred_category,last_purchase_amount
995,996.0,57.0,NaN,112170.0,NaN,6.0,1.0,Clothing,313.64
996,NaN,NaN,Other,65337.0,NaN,10.0,NaN,NaN,NaN
997,998.0,23.0,NaN,NaN,NaN,NaN,42.0,Sports,NaN
998,NaN,22.0,Female,NaN,63.0,NaN,NaN,Elec,505.16
999,NaN,36.0,NaN,90420.0,NaN,NaN,31.0,Groceries,NaN

In [7]:
df.shape

(1000, 9)

In [6]:
# Calculando a proporção de valores nulos
null_percentage = (df.isnull().sum().sort_values(ascending=False) / len(df)) * 100

# Calculando a contagem dos valores nulos
null_count = df.isnull().sum().sort_values(ascending=False)

# Combinando as duas séries em um DataFrame
null_stats = pd.DataFrame({
    'Null Percentage': null_percentage,
    'Null Count': null_count
})

# Aplicando estilo
styled_null_stats = null_stats.style.bar(subset=['Null Percentage'], color='red')\
                                  .set_caption("<H1>Null values in the DataFrame</H1>")

# Exibindo o DataFrame estilizado
styled_null_stats

In [4]:
pd.DataFrame((df.isnull().sum()\
              .sort_values(ascending=False)/len(df))*100)\
                .style.bar(color='red')\
                .set_caption("<H1>Null values in the DataFrame</H1>")

In [5]:
pd.DataFrame(df.nunique().sort_values(ascending=False))\
    .style.bar(color='darkblue')\
        .set_caption("<H1>Unique values for each column</H1>")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    517 non-null    float64
 1   age                   451 non-null    float64
 2   gender                491 non-null    object
 3   income                512 non-null    float64
 4   spending_score        465 non-null    float64
 5   membership_years      484 non-null    float64
 6   purchase_frequency    515 non-null    float64
 7   preferred_category    505 non-null    object
 8   last_purchase_amount  497 non-null    float64
dtypes: float64(7), object(2)
memory usage: 70.4+ KB

In [22]:
for column in df.columns:
    if str(column) == "id":
        continue
    # print(f'{column}')
    print(f'{column}', '\n',"the values are spread: ", df[column].nunique(),
           df[column].unique())

age
 the values are spread:  52 [nan 19. 53. 55. 29. 57. 22. 37. 36. 41. 33. 18. 23. 47. 50. 24. 56. 49.
 21. 65. 31. 39. 46. 60. 20. 32. 64. 62. 26. 30. 66. 58. 40. 67. 69. 54.
 43. 45. 51. 27. 35. 63. 25. 34. 59. 44. 28. 48. 68. 38. 61. 52. 42.]
gender
 the values are spread:  7 [nan 'Female' 'Other' 'Male' 'male' 'female' 'M' 'F']
income
 the values are spread:  511 [  99342.   78852.      nan  140621.   57305.   54319.  108115.   69659.
   30058.   87461.  129284.   82519.   49077.   85473.   35394.  104106.
   76756.   45733.  107057.   72179.   62405.  129005.   76317.   85309.
   96082.   45136.  112198.   81595.  139387.   69133.   89149.   79992.
   90557.   87807.  135861.   40936.   56120.  143037.   44048.   45092.
  148542.   58971.  101100.   47990.   55100.  105470.   63381.   92089.
  104031.  113116.  105024.   59496.  115569.   49346.   75430.  142407.
   34982.   37993.   81695.  406760.  111242.   82856.   35514.  125014.
  128322.   48693.   78309.  112072.   55515.  116124.   62131.  100290.
   81763.  120561.   99638.   78097.   61695.   82613.   90389.  100745.
   51990.   46738.  107818.  117782.   76259.   48155.   58930.  140801.
   66932.  123680.  130300.  102050.   76202.   32512.   63313.   77060.
  108335.  100208.   74519.   31806.  561250.  111788.  132541.   97962.
   48714.   93783.  121498.   84883.   82623.   33665.   92156.   52470.
   31154.  147572.  960660.   41542.  124599.  121975.  109583.   48896.
   48383.  134743.  129014.   38785.  134203.   56381.   45827.  115366.
   84616.  114972.  101024.  118116.  104033.   84117.  128623.   39931.
   77006.  121652.  119460.  117922.   64136.   38250.  135713.  129611.
  106147.   57745.   78296.  138922.   35218.   62971.   92363.   80006.
  119162.   49020.   76921.   51087.  107488.   60768.  111697.   30374.
   48445.  112118.   32030.  120516.   37003.   94627.  103191.  137205.
   40590.  107934.  149741.   90000.  105019.   65576.  130474.   77411.
   87520.   80320.   56110.  123037.   30074.  105810.  100053.   65343.
  101759.  127542.   36282.   69790. 1479620.   86268.  127948.   30121.
   42889.  105731.   52164.   51327.  101105.   97565.   90871.   96260.
   67039.  142251.  124369.   99618.  133291.  136827.   95033.  118402.
   68970.   84460. 1381990.   75974.   56570.   46524.   35565.  143992.
  126571.  120083.   32827.  105647.   46563.  138529.   40858.  143640.
   99668.   32276.   42390.  143424.  137836.   35529.  120542.   39113.
  124597.  113254.  120616.   43308.  129999.   75626.   53863.  111238.
  132968.   82506.   66961.  110280.   67753.   54918.   78534.  100338.
   90232.  144577.  139366.  106944.   92031.  121073.   74474.   57932.
   49970.   73823.   37595.  103063.   86860.   40478.  126893.  123168.
  112137.   93861.  439650.   51759.   53345.   95367.   62536.  121639.
   82296.  137276.  143235.  143899.  134923.  106635.   41917.   93084.
  149256.   43175.  135968.  147903.   55753.  108263.  100730.  148501.
   61870.  132598.  137854.   53219.   64592.  144275.   48641.   67215.
   96499.   38271.   53295.  116106.   83172.   62024.   88288.  102269.
   66196.  138008.   96762.  108744.   84223.   72125.  143678.  122669.
   93266.   60489.  141667.  114408.   92888.  115578.  113856.  113174.
   95862.  140959.   82356.   47989.   81110.  145578.   76658.  105623.
   85972.   48576.   87717.   94803.   41072.   67704.   48169.   56374.
  112770.   89855.   56378.  115674.  141586.   84686.   57558.  142450.
   53474.  114281.   53164.  148121.   56466.   47482.  118123.   51398.
   76416.  100115.   74273.  114848.  127989.   48504.  114762.  108563.
   53503.   86985.   85349.   52855.   56707.   66886.  130875.  136320.
  119083.  132277.   90816.   64288.   34657.   58696.   73023.   74985.
   85928.   49342.  111050.  130443.  145190.  115204.  108344.   74198.
   62582.   92798.   85583.   79842.   51225.   43031.   80686.  118840.
   64229.   88366.   43192.   56547.   96409.   97756.  140475.  103921.
   92114.   86651.   44597.  107042.   58656.   69864.  127302.   91845.
   68304.   58486.  129445.   58692.   73723.   37547.   34901.   85068.
   81244.  111795.   43316.   85487.  101111.   42089.  106629.   98928.
   90687.   68764.   96916.  149578.  140638.   61376.  126398.   59566.
   63123.  120644.   40595.  135627.   46866.   79899.   77292.   92371.
  106632.   48068.   83467.  112212.  121037.   76606.   97355.   49557.
   97909.   98882.   87909.  128640.  137307.   82140.  134463.   41544.
  135440.  106771.  139658.  113706.   89618.  109314.   69502.   30523.
   57107.  105157.   32539.   53091.   46368.  134592.   48768.  128064.
   48329.  129592.   65498.   70213.   33706.  140081.   37014.  111493.
  117520.  128667.  114390.  134487.  104830.  564290.   41126.   99054.
   50349.   60808.   72885.  133888.   67361.   40471.   51913.  120294.
  130645.   79546.   54930.  135047.  117373.   87884.  117203.   82057.
   78149.   80049.   45695.   83578.   64799.  112170.   65337.   90420.]
spending_score
 the values are spread:  100 [ nan  74. 210.  68.  94.  81.  17.  90.  70.  78.  19.  16.  69.   2.
  89.  43.  14.  31.  45.  28.  83.  50.   7.  12.   1.  87.  36.  75.
  52.  60.  30.   4.  20.  77.   8.  46.  99.  59.  72.  86.  33.  85.
  29.  64.  91.  66.  49.  58.  18.  37.  61.  96.  62.  57.  10.  95.
  79.  41.  27.  82.   3.  40.  44.  21.  22.  98.  42.   6.  38.  24.
  63.   9.  32.  39.  93.  55.  47. 100.  88.  92.  34.  71.  56.  48.
  25.  73.  11.  80.  84.  76.  51.  13.  26.  15.  97.  54.  67.  35.
  23.   5.  53.]
membership_years
 the values are spread:  10 [nan  2.  3.  9.  6.  7.  1.  4. 10.  5.  8.]
purchase_frequency
 the values are spread:  50 [nan 42. 28.  5. 25. 27. 24. 49. 13. 17.  4. 47. 16.  9. 39.  1. 20. 37.
 48. 38. 50. 31.  3. 18. 36.  7. 19.  2. 41. 10. 15. 14.  8. 21. 30. 44.
 34. 46. 23. 29. 26.  6. 40. 32. 33. 43. 45. 35. 22. 12. 11.]
preferred_category
 the values are spread:  5 [nan 'Sports' 'Clothing' 'Groceries' 'Home & Garden' 'Elec']
last_purchase_amount
 the values are spread:  495 [   nan  41.93 951.71 821.18 221.35 915.89 225.4  378.47 844.08  61.3
 742.39 482.2   83.27 124.29 197.29  91.94 532.51 967.99 165.18 214.93
 355.34 673.79 110.32 589.35 332.34 903.07 195.34 806.26 224.86 686.05
 495.62  77.73 552.21  92.69 522.95  41.55 738.6   15.66 265.04  13.16
 120.8  755.92  59.84 209.86 190.55 670.87 674.7  795.84  29.58 873.8
 179.8  930.73 451.82 668.91 848.14 138.51  50.57 960.08 405.05 370.75
 957.06 714.15 764.28 480.87 378.4  179.25 798.2  624.81 421.24 518.7
 979.41 273.34 215.41 711.04 880.78 762.41 722.18 228.88 566.65  18.6
  14.52 115.09  82.88 696.59 631.06 861.66 263.93 624.36 208.79 223.39
 401.63 426.62 111.27 286.79 940.93 261.07 610.66  81.91 628.43 971.09
 436.43 825.01 947.73 544.04 706.37 956.03 761.08 635.93 563.64 559.73
 155.14 915.02 238.87 278.21 840.45 345.62 197.54 204.27 212.53 479.36
 821.42 949.32 640.96 947.76 911.   922.01 244.79  21.43 556.23 150.58
 486.25  25.44 599.66 484.85  21.9  109.03 874.32 192.31 609.57 261.36
 577.   802.44 835.06 886.3  169.58 184.8  486.21 631.28 547.85  98.85
  82.77  69.81 463.07 685.09 315.49  85.45 117.01 488.07 249.39  53.26
 592.52 205.58 463.78 532.23 535.28  26.72 211.56 326.5  138.3  475.52
 862.12 910.52 612.09 533.18 278.15 735.3  696.9  459.87 930.97 826.87
 389.97 388.15 383.64 247.96 329.9  785.55 832.57 632.6  341.63 846.76
 210.43 596.63 643.36 144.78 572.31 831.6  902.24 114.47 937.86 421.08
 714.72 656.9  487.73 159.13 394.49 178.68 866.52 824.65 351.64 275.4
 916.28 769.   984.6  803.28 273.38 121.   432.65 782.58  59.82 434.84
 391.45 238.79  26.12 604.29 468.37 737.91 800.46 634.92 461.61  34.88
 863.93 846.85 781.31 795.81 177.69 173.81 964.87  10.4  151.48 885.33
 154.89 649.61 917.5  302.05 317.98 942.97 154.67 240.64 334.95 462.62
 813.37 606.18 588.37 944.07 926.69 979.26 923.37 255.08 534.25 112.11
 826.02 819.92 933.65 728.58 998.51 199.17 860.95 769.16  73.13 338.69
 889.83 563.48 845.33 361.81 120.76 105.48 760.34 962.9  266.83 409.85
 363.86 215.92 766.26 174.43 626.82 706.18 203.15 772.89 865.65 274.96
 734.48 324.11 728.67 486.5  930.91 936.04  13.46 495.49 141.72  25.86
 906.75 777.44 356.67 483.66 490.62  49.06 640.55 886.61 916.04 248.68
 636.29 704.32 304.86 178.21 741.41 204.25 647.35  45.2  838.19 420.03
  26.1  686.5   65.15 204.55 132.6  762.06  79.27 138.81 725.26  30.13
 976.83 913.84 981.04 126.15 451.86 808.89 269.2  750.51 880.45 621.73
 659.67 109.54 471.87 902.66  40.32 795.49 217.78 612.54 932.41 984.15
 753.49 104.35 400.23 258.09 170.56 140.52 179.71 117.85 789.67 623.78
 103.11 912.58 347.21 348.51 591.64 444.09 604.53 979.39 297.17 177.5
 121.22 144.   808.16 983.3  570.87 123.96  90.96  34.1  622.86 213.88
 679.67 835.67 575.98 971.83 910.59  60.51 367.85 709.33 777.97 557.41
 481.56 961.55 355.67 270.15 830.79 491.8  866.3  819.14 686.83 223.73
 674.93 318.74 386.51 687.32 990.34 997.15 678.41 648.79 333.55 165.39
 522.78 117.03 701.61 849.56 230.66 846.68 301.59 116.19 921.21 836.5
 839.2  625.26 443.22 531.25 839.34 793.84 311.08 330.95 456.11 739.27
 469.36 737.44 129.9  787.66 683.02  30.88 241.25 312.64 484.72 304.08
 472.4  246.41 863.54 329.18 678.13 439.63 241.99 940.14 486.86 758.1
 952.12  97.97 535.1  720.52 344.59 427.68 831.05 628.34 684.88  99.63
 438.97 844.88 536.06  12.45 557.04  36.76 129.08 748.46 106.48 371.93
 594.92 150.62 556.1  915.62 100.64 174.22 957.5  660.05 724.23  40.89
 942.03 833.69 711.37 724.88 253.13 363.94 990.87  16.97 750.58 864.67
 458.93 139.75 967.26 986.97 313.64 505.16]

In [9]:
df.describe(include="number").style.background_gradient()

In [10]:
df.describe(include="object")

### Select numbers and category

In [23]:
df_num = df.select_dtypes(include="number")
df_cat = df.select_dtypes(include="object")

In [24]:
for column in df_num:
  if str(column) == "id":
    continue
    print("A mínima de " f"{column}" " é de: " +'{:.2f}'.format(round(df_num[column].min())))
    print("A mediana de " f"{column}" " é de: " +'{:.2f}'.format(round(df_num[column].median())))
    print("O Desvio Padrão de " f"{column}" " é de: " +'{:.2f}'.format(round(df_num[column].std())))
    print("A Variancia de " f"{column}" " é de: " +'{:.2f}'.format(round(df_num[column].var())))
    print("O Amplitude de " f"{column}" " é de: " +'{:.2f}'.format(round(df_num[column].max() - df_num[column].min())))
    print("O coeficiente de Variação de " f"{column}" " é de: "+ '{:.2f}'.format(round(df_num[column].std() / df_num[column].mean()*100)))
    print("A maxima de " f"{column}" " é de: " +'{:.2f}'.format(round(df_num[column].max())))

    print("--"*25)

A mínima de id é de: 1.00
A mediana de id é de: 505.00
O Desvio Padrão de id é de: 288.00
A Variancia de id é de: 83127.00
O Amplitude de id é de: 997.00
O coeficiente de Variação de id é de: 57.00
A maxima de id é de: 998.00
--------------------------------------------------
A mínima de age é de: 18.00
A mediana de age é de: 43.00
O Desvio Padrão de age é de: 15.00
A Variancia de age é de: 233.00
O Amplitude de age é de: 51.00
O coeficiente de Variação de age é de: 35.00
A maxima de age é de: 69.00
--------------------------------------------------
A mínima de income é de: 30058.00
A mediana de income é de: 87896.00
O Desvio Padrão de income é de: 104168.00
A Variancia de income é de: 10851002784.00
O Amplitude de income é de: 1449562.00
O coeficiente de Variação de income é de: 106.00
A maxima de income é de: 1479620.00
--------------------------------------------------
A mínima de spending_score é de: 1.00
A mediana de spending_score é de: 50.00
O Desvio Padrão de spending_score é de: 30.00
A Variancia de spending_score é de: 911.00
O Amplitude de spending_score é de: 209.00
O coeficiente de Variação de spending_score é de: 57.00
A maxima de spending_score é de: 210.00
--------------------------------------------------
A mínima de membership_years é de: 1.00
A mediana de membership_years é de: 6.00
O Desvio Padrão de membership_years é de: 3.00
A Variancia de membership_years é de: 8.00
O Amplitude de membership_years é de: 9.00
O coeficiente de Variação de membership_years é de: 52.00
A maxima de membership_years é de: 10.00
--------------------------------------------------
A mínima de purchase_frequency é de: 1.00
A mediana de purchase_frequency é de: 26.00
O Desvio Padrão de purchase_frequency é de: 14.00
A Variancia de purchase_frequency é de: 207.00
O Amplitude de purchase_frequency é de: 49.00
O coeficiente de Variação de purchase_frequency é de: 55.00
A maxima de purchase_frequency é de: 50.00
--------------------------------------------------
A mínima de last_purchase_amount é de: 10.00
A mediana de last_purchase_amount é de: 495.00
O Desvio Padrão de last_purchase_amount é de: 301.00
A Variancia de last_purchase_amount é de: 90621.00
O Amplitude de last_purchase_amount é de: 988.00
O coeficiente de Variação de last_purchase_amount é de: 60.00
A maxima de last_purchase_amount é de: 999.00
--------------------------------------------------